<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.meetRegiMapper">
	
	<insert id="insert">
		insert into tbl_meet(meet_num,meet_category,meet_name,meet_sub_category,
								  meet_addr,meet_writer,meet_maxpeoplenum)
		values(seq_meet_num.nextval,#{meet_category},#{meet_name},#{meet_sub_category},
			   #{meet_addr},#{meet_writer},#{meet_maxpeoplenum})
	</insert>
	
	<select id="overRapChk" resultType="int">
		select count(*) from tbl_meet
		where meet_writer = #{meet_writer} and (meet_state='w' or meet_state = 'i')
	</select>
	
</mapper>